.graphic__container {
  // width: calc(100%-10px);
  height: 95vh;

  display: flex;
  flex-wrap: wrap;
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // grid-auto-columns: 20%;
    grid-template-rows: 1fr 1fr 1fr minmax(50px, 20vh) max-content max-content;
  }
  margin: 5px;
}

.name__container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.nameImage__container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 5;
  background-image: url("/assets/images/menton.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -50;
  @supports (display: grid) {
    position: inherit;
    height: auto;
    width: auto;
  }
}

.nameSpacer {
  width: 0;
  height: auto;
  flex: 1 1 auto;
  @include respond-at($bp-large) {
    width: 10%;
  }
  @supports (display: grid) {
    width: 0;
    height: 0;
    display: none;
  }
}

.firstName__container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: white;
}

.lastName__container {
  flex: 1 1 auto;
  // width: 100px;
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 6;
  background-color: rgba(255, 255, 255, 0.3);

  line-height: 1;
}

.pageTagline__container {
  flex: 1 1 auto;
  width: 100%;
}

.pageTagline__spacer {
  grid-row-start: 6;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: white;
  width: 75%;
}
.firstName {
  line-height: 1;
  margin: 0;
}
.bigTitle {
  margin: 0;
  padding: 0;
  line-height: 1;
  & > span {
    margin: 0;
    padding: 0;
  }
}
.pageTagline {
  margin: 0;
}
.pageTagline__helper {
  height: 0;
  margin: 0;
  font-weight: 400;
  position: relative;
  top: -25px;
  color: rgba(255, 255, 255, 0);
}

.nameImage__container--box {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  width: 14%;
  min-height: 15vh;
  flex: 1 1 auto;
  @supports (display: grid) {
    width: auto;
  }
}

#nameImage__container--box--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--6 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--10 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--11 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--12 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--13 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--14 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--15 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--16 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--17 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--18 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--19 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--20 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--21 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--22 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--23 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--24 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}
#nameImage__container--box--25 {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#nameImage__container--box--26 {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}
#nameImage__container--box--27 {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
}
#nameImage__container--box--28 {
  grid-column-start: 7;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 5;
}
