.navFixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
}

.navList {
  background-color: $cardColor1;
  box-shadow: 6px 6px $cardColor2;
  color: black;
  & a {
    color: inherit;
  }
  padding: 15px;
  & > li {
    display: inline-block;
  }

  margin: 10px 25px;

  &__navItem {
    padding-right: 10px;
  }
}
