.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 10px);
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-auto-flow: dense;
  }

  margin: 5px;
  @include respond-at($bp-small) {
    margin: 10px;
    width: calc(100% - 20px);
  }
  @include respond-at($bp-med) {
    margin: 15px;
    width: calc(100% - 30px);
  }
  @include respond-at($bp-large) {
    margin: 30px;
    width: calc(100% - 60px);
  }
  @supports (display: grid) {
    @include respond-at($bp-small) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }
    @include respond-at($bp-med) {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 35px;
    }
    @include respond-at($bp-large) {
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 50px;
    }
  }
}

// background-color: #49D18F;
// box-shadow: 6px 6px #35DDFF;

.projectsCard {
  width: 90%;
  margin: 5px;
  @include respond-at($bp-small) {
    margin: 15px;
    width: 40%;
  }
  @include respond-at($bp-med) {
    margin: 40px;
    width: 25%;
  }
  @include respond-at($bp-large) {
    margin: 60px;
    width: 15%;
  }
  @supports (display: grid) {
    grid-area: span 1 / span 2;
    @include respond-at($bp-small) {
      width: 100%;
      margin: 5px;
    }
    @include respond-at($bp-med) {
      width: 100%;
      margin: 5px;
    }
    @include respond-at($bp-large) {
      width: 100%;
      margin: 5px;
    }
  }
  &-wide {
    grid-area: span 1 / span 2;

    @include respond-at($bp-med) {
      grid-area: span 1 / span 4;
    }
  }
  &-med {
    grid-area: span 1 / span 2;

    @include respond-at($bp-med) {
      grid-area: span 1 / span 3;
    }
  }
}

.projectAlert {
  font-style: italic;
  font-size: 10px;
}

.projectTechnology {
  text-transform: capitalize;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 1 auto;
  // width: 25%;
  width: 80px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  & h4 {
    margin: 5px 0;
  }
}

.projectIcon {
  width: 40px;
  height: 40px;
}
